---
---

@import "{{ site.theme }}";

h1 {
	color: transparent;
	content: "";
}

header > p {
	font-size: 150%;
	color: green;
}

.view {
	content: "";
	color: transparent;
}

.view a {
	color: blue;
	font-size: 60%;
}


p > small {
	color: transparent;
	content: "";
}

footer {
	display: none;
}

