---
---

@import "{{ site.theme }}";

h1 {
	color: transparent;
	content: "";
}

header > p {
	font-size: 150%;
	color: green;
}

.view {
	content: "";
	color: transparent;
}

.view a {
	content: "Veja o projeto no Github";
}


p > small {
	color: transparent;
	content: "";
}

